.appointment-view {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .appointment-title-box {
    padding: 18px 36px;
    background-color: #fcf803;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #fcf803;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    width: fit-content;
    margin-left: 50px;
  }
  
  .appointment-content {
    display: flex;
    flex-direction: column;
  }
  
  .appointment-status-buttons {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
  }

  .appointment-status-buttons:hover .Button {
    background-color: #F0F0F0; 
    transform: translateY(-2px); /*  slight lift effect */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* add shadow */
  }
  
  .appointment-button {
    padding: 18px 28px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 15px;
    border: 2px solid;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
  }
  
  .button-all {
    background: linear-gradient(90deg,rgba(7, 250, 205, 1) 0%, rgba(17, 156, 237, 1) 50%, rgba(0, 60, 255, 1) 100%);
    border-color: #03befc;
  }
  
  .button-approved {
    background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border-color: #b4fac1;
    margin-left: 0;
  }
  
  .button-pending {
    background: linear-gradient(90deg,rgba(154, 158, 147, 1) 0%, rgba(82, 97, 86, 1) 38%, rgba(12, 9, 13, 1) 100%);
    border-color: #bdbfbe;
    margin-left: 0;
  }
  
  .button-rejected {
    background: linear-gradient(180deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-color: #f93b3b;
    margin-left: 0;
  }
  
  .appointment-image {
    width: 360px;
    height: 600px;
  }

.appointment-table{
    width: 100%;
    margin-left: 100px
}

.appointment-card{
    width: 80%;
    padding: 20px;
    background-color: #4739df;
    border-radius: 15px;
    margin-top: 20px;
    border-color: #ffffff;
    color: #ffffff;
}
  