.header{
    background-color: #FFFFFF;
    color: white;
    display: flex;
    align-items: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.header-left, .header-center, .header-right {
    flex: 1; /* Each section takes up equal space */
}

.header-left {
    display: flex;
    justify-content: flex-start;
}

.header-center {
    display: flex;
    justify-content: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.logo-image{
    max-width: 90px;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}