/* section for big */
.flex-container {
    display: flex;
  justify-content: space-around; /* Distribute space evenly around items */
  align-items: top; /* Vertically center items */
  position: relative; /*for positioning groups of items*/
  top: 110px;
  height: 225px;
  width: 100%;
  /* border: 1px solid orange; */
}
.element-flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    /* border: 1px solid orange; */
}
.Button {
  background-color: transparent;
  
  width: 275px;   
  height: 155px; 
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 2rem; /*set button font size: 1rem = 16px*/
}
.Button:hover {
    border-color: silver
}
.cover-image {
  max-height: 100%;
  width: 120%;
}
.Logout-button {
  position: absolute; /* Removes from normal flow, positions relative to .parent-container */
  bottom: 10px;       /* 10 pixels from the bottom edge of .parent-container */
  left: 10px;
  height: auto;
  width: 125px;

  padding: 10px 15px;
  border-radius: 5px;
  border-color: red;
  background-color: transparent;
}


/* section for granular stuff */
.req-appoint-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: lightgreen;
}
.request-appointment-icon {
    display: block; 
    width: 1.8em;   /* Icon width, e.g., 2 times the button's font-size */
    height: 1.8em;  /* Icon height, same deal*/

    -webkit-mask-image: url('../others/appointment-icon.svg'); 
  mask-image: url('../others/appointment-icon.svg'); 

    -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
    -webkit-mask-position: center;
  mask-position: center;
    -webkit-mask-size: contain;
  mask-size: contain;

  background-color: darkgreen;
}

.view-appointment-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: orange;
}
.view-appointment-icon {
    display: block; 
    width: 1.8em;   /* Icon width, e.g., 2 times the button's font-size */
    height: 1.8em;  /* Icon height, same deal*/

    -webkit-mask-image: url('../others/calendar.svg'); 
  mask-image: url('../others/calendar.svg'); 

    -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
    -webkit-mask-position: center;
  mask-position: center;
    -webkit-mask-size: contain;
  mask-size: contain;

  background-color: orange;
}


.update-hdata-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: skyblue;
}
.update-hdata-icon {
    display: block; 
    width: 1.8em;   /* Icon width, e.g., 2 times the button's font-size */
    height: 1.8em;  /* Icon height, same deal*/

    -webkit-mask-image: url('../others/upd-health-data.svg'); 
  mask-image: url('../others/upd-health-data.svg'); 

    -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
    -webkit-mask-position: center;
  mask-position: center;
    -webkit-mask-size: contain;
  mask-size: contain;

  background-color: skyblue;
}


.track-mood-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: palevioletred;
}
.track-mood-icon {
    display: block; 
    width: 1.8em;   /* Icon width, e.g., 2 times the button's font-size */
    height: 1.8em;  /* Icon height, same deal*/

    -webkit-mask-image: url('../others/emotion.svg'); 
  mask-image: url('../others/emotion.svg'); 

    -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
    -webkit-mask-position: center;
  mask-position: center;
    -webkit-mask-size: contain;
  mask-size: contain;

  background-color: palevioletred;
}